
<!DOCTYPE html>
{% load static %}



<html>
<head>
  <title>My Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    {% if user.is_authenticated %}
          {% if user.user_type == 'Super Admin' %}
              <a class="navbar-brand" href="{% url 'hospital_app:list1' %}"><h3>Hospital Super_home</h3></a>

          {% elif user.user_type == 'Admin' %}
              <a class="navbar-brand" href="{% url 'hospital_app:list2' %}"><h3>Hospital Admin_home</h3></a>
          {% else %}
              <a class="navbar-brand" href="{% url 'hospital_app:list3' %}"><h3>Hospital User_home</h3></a>
          {% endif %}
    {% endif %}

    <a class="nav-link active" aria-current="page" href="{% url 'department_doctors_app:departmentlist' %}"><h3>Departments</h3></a>

    <a class="nav-link active" aria-current="page" href="{% url 'department_doctors_app:doctor_list' %}"><h3>Doctors</h3></a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto  ">


        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'hospital_app:logout' %}"><h3>logout</h3></a>
          </li>
        {% else %}
           <li class="nav-item">
             <a class="nav-link" href="#"><h3>about</h3></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


{% block content %}
{% endblock %}

</body>
</html>
