{% extends 'base.html' %}

{% block content %}
  <h1>Appointment List with status For Staffs </h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Place</th>
            <th>Consulting Doctor</th>
            <th>Department</th>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        {% for i in appointments %}
        <tr>
            <td>{{ i.patient_name }}</td>
            <td>{{ i.patient_email }}</td>
            <td>{{ i.patient_phone }}</td>
            <td>{{ i.patient_place }}</td>
            <td>{{ i.doctor }}</td>
            <td>{{ i.patient_department }}</td>
            <td>{{ i.appointment_date }}</td>
            <td>{{ i.appointment_time }}</td>
            <td>
                <form method="post" action="{% url 'update_status' i.pk %}">
                        {% csrf_token %}
                        <select name="status">
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                            <option value="pending">Pending</option>
                        </select>
                        <button type="submit">Update Status</button>
                </form>

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}



